@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
:root{
    --primary-color:rgb(255,255,255);
    --secondary-color:rgb(110, 35, 126);
    --prim-text-color:rgb(0, 0, 0);
    --second-text-color:rgb(255,255,255);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Bebas Neue', sans-serif ;
    color: var(--prim-text-color);
    background-color:var(--primary-color);
    position: relative;
    width:100%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    margin-inline:.5em;
}
a:hover{
    background-color:var(--primary-color);
    color: var(--prim-text-color);
}
nav a{
    padding: 0.5em;
    background-color:var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--second-text-color);
}
.nav-con{
  position: fixed;
  top:0px;
  height:60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav{
    background-color:var(--secondary-color);
    width:80%;
    border-radius:40px;
    min-width:250px;
    height:50px;
    padding:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}
nav>img{
    height:100%;
    border-radius: 50%;
}
.link-con{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.link-con2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
section{
    margin-top:60px;
    text-align: center;
    padding:10px;
}
section>h1{
    margin:20px;
}
.posts-con{
    color: var(--second-text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
}
.posts-con>article{
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height:45vh;
    min-height: 350px;
    min-width: 250px;
    max-width:320px;
    border:violet 3px solid;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    transition: all 1s ease-out;
}
article img{
    width: 100%;
}
article>div{
    padding:.5rem;
}
article>button{
    height:1.8rem;
    width: 60%;
    background-color:var(--primary-color);
    color: var(--prim-text-color);
    border-radius:20px;
    margin: auto;
    transition: all 1s ease-out;
}
article:hover{
    background-color:var(--primary-color);
    color: var(--secondary-color);
    box-shadow:5px 5px 0px rgb(18, 117, 255);
}
article>button:hover{
    background-color:var(--secondary-color);
    color: var(--second-text-color);
    width: 80%;
    box-shadow:0px 5px 0px blue;
}


@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  .link-con{
    display: none;
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width:992px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 18px;
  }
}