@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
:root{
    --primary-color:rgb(255,255,255);
    --secondary-color:rgb(110, 35, 126);
    --prim-text-color:rgb(0, 0, 0);
    --second-text-color:rgb(255,255,255);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Bebas Neue', sans-serif ;
    color: var(--prim-text-color);
    background-color:var(--primary-color);
    position: relative;
    width:100%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    margin-inline:.5em;
}
a:hover{
    background-color:var(--primary-color);
    color: var(--prim-text-color);
}
nav a{
    padding: 0.5em;
    background-color:var(--secondary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--second-text-color);
}
.nav-con{
  position: fixed;
  top:0px;
  height:60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav{
    background-color:var(--secondary-color);
    width:80%;
    border-radius:40px;
    min-width:250px;
    height:50px;
    padding:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}
nav>img{
    height:100%;
    border-radius: 50%;
}
.link-con{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.link-con2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header{
    height:50vh;
    min-height:340px;
    width: 95%;
    margin:0 auto;
    border:var(--secondary-color) 5px solid;
    border-radius: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    padding: 20px;
    color: var(--prim-text-color);
    background-image:url(../assets/images/FB_IMG_1730655875911.jpg);
    background-size:contain;
    background-repeat:no-repeat ;
    background-position:center;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
}
header h1{
    font-size: 2rem;
}
header h2{
    font-size: 1rem;
}
main{
    width: 100%;
    padding:20px 0px;
    text-align: center;
}
main>h2{
    padding:20px 0px;
}
main>.act-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
}
main>div>article{
    width:90%;
    min-width:250px;
    height:400px;
    border:violet 3px solid;
    border-radius:20px;
    background-color: var(--secondary-color);
    color: var(--second-text-color);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
}
main>div>article:hover{
    background-color:var(--primary-color);
    color: var(--secondary-color);
    box-shadow:5px 5px 0px rgb(18, 117, 255);

}
.article-img-container{
  height:85%;
  width: 100%;
  border:black 3px solid;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.act-container>article>div>img{
    width: 100%;
}
footer{
    background-color: var(--primary-color);
    color: var(--second-text-color);
    width: 90%;
    margin: 20px auto;
    text-align: center;
    border: var(--secondary-color) 5px solid;
    border-radius: 10px;
}
footer>h4{
    margin:10px;
    color: var(--secondary-color);
}
footer>div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding:5px;
}
footer>div>a{
    font-size:2rem;
    padding-top:.2rem;
    height:3rem;
    width:3rem;
    border:var(--secondary-color) 2px solid;
    border-radius: 50%;
}
#ic-facebook{
  color: rgb(17, 45, 255);
  background-color: white;
}
#ic-whatsapp{
  color: rgb(255, 255, 255);
  background-color: rgb(12, 238, 0);
}
#ic-insta{
  color: rgb(223, 0, 141);
  background-color: rgb(255, 255, 255);
}
footer>div a:hover{
    background-color:var(--secondary-color) !important; 
    color: aliceblue !important;
}
section{
  width:90%;
  min-width:240px;
  margin:20px auto;
  border:var(--secondary-color) 5px solid;
  border-radius:20px;
  padding: 10px;
  text-align: center;
}
#mission{
    margin-top: 60px;
}
section>div{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}
.mision>div{
  flex-direction:row;
}
.vision>DIV{
  flex-direction:row-reverse;
}
section>div>p{
  width:60%;
  min-width:230PX
}
section>div>img{
  width:30%;
}


@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  .link-con{
    display: none;
    font-size: 1rem;
  }
  section>div{
    justify-content: center;
  }
}

@media screen and (min-width: 600px) and (max-width:992px) {
  :root {
    font-size: 16px;
  }
  main>div>article{
    width:45%;
  }
    header{
    justify-content:center;
    align-items:flex-start;
    background-position:right;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 18px;
  }
    main>div>article{
    width:30%;
  }
  header{
    justify-content:center;
    align-items:flex-start;
    background-position:right;
  }
}
